@import  "button.css";
@import "numeri.css";

body{
    background-color: brown;
    text-align: center;
    margin: 0;
    padding: 0;
}

header{
    font-weight: bolder;
}


p{
    font-style: italic;
}