@import  "button.css";
@import "numeri.css";
@import "list.css";
@import "title.css";


body{
    background-color: #CCFFC5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

h1{
    font-weight: bolder;
}


p{
    font-style: oblique;
}